@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --red: #d43d27;
  --font-barlow: "Trebuchet MS", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-bubblegum: "Marker Felt", "Bradley Hand", "Comic Sans MS", cursive;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: var(--font-barlow);
}

@layer components {
  .before-block,
  .after-block {
    position: relative;
  }

  .before-block::before,
  .after-block::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3rem;
    background: #d43d27;
  }

  .before-block::before {
    top: -3rem;
    clip-path: url(#box_shape_top);
  }

  .after-block::after {
    bottom: -3rem;
    clip-path: url(#box_shape_bottom);
  }

  table {
    min-width: 100%;
  }

  th {
    min-width: 100%;
    text-align: center;
    border-bottom: 1px solid #d43d27;
    border-right: 1px solid #d43d27;
  }

  th:last-child {
    border-right: 0;
  }

  td {
    min-width: 100%;
    padding: 0.5rem;
    text-align: center;
    border-right: 1px solid #d43d27;
  }

  td:last-child {
    border-right: 0;
  }

  ul {
    list-style: disc;
    margin-left: 1.5rem;
  }

  @media (min-width: 640px) {
    ul {
      margin-left: 3rem;
    }
  }

  li {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .title {
    text-shadow: 0 0 0 transparent, -1px -1px 0 var(--red),
      0px -1px 0 var(--red), 1px -1px 0 var(--red), -1px 0px 0 var(--red),
      0px 0px 0 var(--red), 1px 0px 0 var(--red), -1px 1px 0 var(--red),
      0px 1px 0 var(--red), 1px 1px 0 var(--red), -2px -2px 0 var(--red),
      -1px -2px 0 var(--red), 0px -2px 0 var(--red), 1px -2px 0 var(--red),
      2px -2px 0 var(--red), -2px -1px 0 var(--red), -1px -1px 0 var(--red),
      0px -1px 0 var(--red), 1px -1px 0 var(--red), 2px -1px 0 var(--red),
      -2px 0px 0 var(--red), -1px 0px 0 var(--red), 0px 0px 0 var(--red),
      1px 0px 0 var(--red), 2px 0px 0 var(--red), -2px 1px 0 var(--red),
      -1px 1px 0 var(--red), 0px 1px 0 var(--red), 1px 1px 0 var(--red),
      2px 1px 0 var(--red), -2px 2px 0 var(--red), -1px 2px 0 var(--red),
      0px 2px 0 var(--red), 1px 2px 0 var(--red), 2px 2px 0 var(--red),
      -3px -3px 0 var(--red), -2px -3px 0 var(--red), -1px -3px 0 var(--red),
      0px -3px 0 var(--red), 1px -3px 0 var(--red), 2px -3px 0 var(--red),
      3px -3px 0 var(--red), -3px -2px 0 var(--red), -2px -2px 0 var(--red),
      -1px -2px 0 var(--red), 0px -2px 0 var(--red), 1px -2px 0 var(--red),
      2px -2px 0 var(--red), 3px -2px 0 var(--red), -3px -1px 0 var(--red),
      -2px -1px 0 var(--red), -1px -1px 0 var(--red), 0px -1px 0 var(--red),
      1px -1px 0 var(--red), 2px -1px 0 var(--red), 3px -1px 0 var(--red),
      -3px 0px 0 var(--red), -2px 0px 0 var(--red), -1px 0px 0 var(--red),
      0px 0px 0 var(--red), 1px 0px 0 var(--red), 2px 0px 0 var(--red),
      3px 0px 0 var(--red), -3px 1px 0 var(--red), -2px 1px 0 var(--red),
      -1px 1px 0 var(--red), 0px 1px 0 var(--red), 1px 1px 0 var(--red),
      2px 1px 0 var(--red), 3px 1px 0 var(--red), -3px 2px 0 var(--red),
      -2px 2px 0 var(--red), -1px 2px 0 var(--red), 0px 2px 0 var(--red),
      1px 2px 0 var(--red), 2px 2px 0 var(--red), 3px 2px 0 var(--red),
      -3px 3px 0 var(--red), -2px 3px 0 var(--red), -1px 3px 0 var(--red),
      0px 3px 0 var(--red), 1px 3px 0 var(--red), 2px 3px 0 var(--red),
      3px 3px 0 var(--red);
  }
}
